*{
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  
}

body{
  background-color: rgb(241, 180, 190);
  height: 700px;
}


#carousel_container{
  position: absolute;
  top: 50%; 
  right: 50%;
  transform: translate(50%,-50%);
  width:90%;
}
.carousel-item {
  border-radius: 20px;
}
.carousel{
  position: absolute;
  top: 50%; 
  right: 50%;
  transform: translate(50%,-50%);
  max-width: 80%;
  height: 90%;
  font-size: 12px;
}

.card{
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  width: 130pt; 
  
}

.text-container{
  width: 80%;
  height: 80pt;
  margin-top: 70px;
  color: white;
  text-align: center;

}


.btn{
  margin: 20px;
  position: absolute;
  top: 45%;
  height: 35px;
  width:25px;
  color: rgb(255, 255, 255);
}

button{
  background-color: rgb(143, 45, 45);
}

.emo{
  position: relative;
  margin-top: 1200px;
  left: 10%;

}

.hehe{
  position: absolute;
  left: 40%;
}


h6{
  color: rgb(4, 0, 0);
  font-family:Arial, Helvetica, sans-serif;
}



@media screen and (max-width: 768px) {
  .card-text{
    font-size: 9px;
    color: rgb(254, 254, 254);
  }

  .arrow{
    width: 100px;
    position: absolute;
    top: 500px;
    left: 10%;
    transform: translate(-30%, -50%);
    }

    .card-text{
      font-size: 10px;
      color: rgb(251, 251, 251);
    }
  
}

@media screen and (min-width: 808px) and (max-width: 1000px) {
  .text{
    font-size: 16px;
    color: wheat;
  }
}




